<div class="col-9">      
    <div class="p-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="vehicle no">
        <button class="input-group-text" id="inputGroup-sizing-default" (click)="searchByVehicleNo()">Search</button>
      </div>
      <p class="text-center">or</p>
      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="owner name">
        <button class="input-group-text" id="inputGroup-sizing-default" (click)="searchByOwnerName()">Search</button>
      </div>
      <p class="text-center">or</p>
      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="owner id">
        <button class="input-group-text" id="inputGroup-sizing-default" (click)="searchByOwnerId()">Search</button>
      </div>
    </div>
</div>