<div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <strong>Vehicle</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" (click)="addVehicle()">Add New</a></li>
      <li><a class="dropdown-item" (click)="updateVehicle()">Update</a></li>
      <li><a class="dropdown-item" (click)="deleteVehicle()">Delete</a></li>
    </ul>
</div>